# Day - 13
# Date - 7 June 2019

# Task 1:
* Read dc_airbnb.csv into a Dataframe named dc_listings.
* Use the print function to display the first row in dc_listings.

In [44]:
import pandas as pd
import numpy as np
def airbnb(filename):
    dc_listings = pd.read_csv(filename).fillna(0)
    print(dc_listings.head(1))
    print(len(dc_listings))
    
airbnb('dc_airbnb.csv')

  host_response_rate host_acceptance_rate  host_listings_count   latitude  \
0                92%                  91%                   26  38.890046

   longitude        city zipcode state  accommodates        room_type  \
0 -77.002808  Washington   20003    DC             4  Entire home/apt

   bedrooms  bathrooms  beds    price cleaning_fee security_deposit  \
0       1.0        1.0   2.0  $160.00      $115.00          $100.00

   minimum_nights  maximum_nights  number_of_reviews
0               1            1125                  0
3723

# Task 2:
* Calculate the Euclidean distance between our living space, which can accommodate 3 people, and the first living space in the dc_listings Dataframe.
* Assign the result to first_distance and display the value using the print function.

In [45]:
import numpy as np
dc_listings = pd.read_csv('dc_airbnb.csv')
acc = 3
flsv = dc_listings.loc[0,'accommodates']
first_distance = np.abs(flsv - acc)
print(first_distance)

1

# Task 3:
* Calculate the distance between each value in the accommodates column from dc_listings and the value 3, which is the number of people our listing accommodates:
* Use the apply method to calculate the absolute value between each value in accommodates and 3 and return a new Series containing the distance values.
* Assign the distance values to the distance column.
* Use the Series method value_counts and the print function to display the unique value counts for the distance column.

In [3]:
dc_listings['distance'] = np.abs(dc_listings.accommodates - 3)
dc_listings.distance.value_counts().sort_index()   #returns object containing counts of unique values

0      461
1     2294
2      503
3      279
4       35
5       73
6       17
7       22
8        7
9       12
10       2
11       4
12       6
13       8
Name: distance, dtype: int64

# Task 4:
* Randomize the order of the rows in dc_listings:
  * Use the np.random.permutation() function to return a NumPy array of shuffled index values.
  * Use the Dataframe method loc[] to return a new Dataframe containing the shuffled order.
  * Assign the new Dataframe back to dc_listings.
* After randomization, sort dc_listings by the distance column.
* Display the first 10 values in the price column using the print function.

In [11]:
dc_listings = dc_listings.sample(frac=1,random_state=0)
dc_listings = dc_listings.sort_values('distance')
dc_listings.price.head(10)

2645     $75.00
2825    $120.00
2145     $90.00
2541     $50.00
3349    $105.00
2228    $117.00
1122    $176.00
2311    $117.00
625     $150.00
2312    $100.00
Name: price, dtype: object

In [6]:
for i in range(0,len(dc_listings)):
    dc_listings1 = np.random.permutation(i)
    
print(dc_listings1)

[ 555 3283  478 ... 2606 2017  332]

# Task 5:
* Remove the commas (,) and dollar sign characters ($)from the price column:
  * Use the str accessor so we can apply string methods to each value in the column followed by the string method replace to replace all comma characters with the empty character: stripped_commas = dc_listings['price'].str.replace(',', '')
  * Repeat to remove the dollar sign characters as well.
* Convert the new Series object containing the cleaned values to the float datatype and assign back to the price column in  dc_listings.
* Calculate the mean of the first 5 values in the price column and assign to mean_price.
* Use the print function or the variable inspector below to display mean_price.

In [9]:
dc_listings['price'] = dc_listings.price.str.replace("\$|,",'').astype(float)
mean_price = dc_listings.price.iloc[:5].mean()
mean_price

141.0

# Task 6:
* Write a function named predict_price that can use the k-nearest neighbors machine learning technique to calculate the suggested price for any value for accommodates. This function should:
  * Take in a single parameter, new_listing, that describes the number of bedrooms.
  * We've added code that assigns dc_listings to a new Dataframe named temp_df. We used the pandas.DataFrame.copy() method so the underlying dataframe is assigned to temp_df, instead of just a reference to dc_listings.
  * Calculate the distance between each value in the accommodates column and the new_listing value that was passed in. Assign the resulting Series object to the distance column in temp_df.
  * Sort temp_df by the distance column and select the first 5 values in the pricecolumn. Don't randomize the ordering of temp_df.
  * Calculate the mean of these 5 values and use that as the return value for the entire predict_price function.
* Use the predict_price function to suggest a price for a living space that:
  * accommodates 1 person, assign the suggested price to acc_one.
  * accommodates 2 people, assign the suggested price to acc_two.
  * accommodates 4 people, assign the suggested price to acc_four.

In [50]:
def predict_price(new_listing):
    dc_listings = pd.read_csv('dc_airbnb.csv').fillna(0)
    temp_df = pd.DataFrame.copy(dc_listings)
    
    accomodates = [dc_listings.iat[i,10] for i in range(0,len(dc_listings))]
    for i in range(0,len(temp_df)):
        temp_df['distance'] = np.abs(accomodates[i] - new_listing)
    temp_df = temp_df.sort_values('distance')
    mean_5 = temp_df.price.iloc[:5]
    
    mean_5 = mean_5.str.replace("\$|,",'').astype(float)
    predicted_price = mean_5.mean()
    return(predicted_price)

In [51]:
acc_one=predict_price(1)
acc_one

149.4

In [52]:
acc_two = predict_price(2)
acc_two

149.4

In [53]:
acc_four = predict_price(4)
acc_four

149.4