## Date: 08 May 19

# print a output

In [15]:
print("hello")

hello

# variable assignments

In [12]:
var1=123
var2=var1**var1
var2

114374367934617190099880295228066276746218078451850229775887975052369504785666896446606568365201542169649974727730628842345343196581134895919942820874449837212099476648958359023796078549041949007807220625356526926729664064846685758382803707100766740220839267

# count digits in a number

In [19]:
print(len(str(var2)))

258

# Getting the data type

In [20]:
type(var2)
type("Python")

str

# String slicing

In [21]:
str1 = "Python Programming"

str1[0] # Accessing the first character
str1[len(str1)-1] #printing the last character
str1[0:6] #Printing first 6 characters

'Python'

In [22]:
str1[len(str1)-1::-1] #Reverse of a String
str1[0:len(str1):2] #Alternate characters
str1[5::-2] #Reverse Alternate characters

'nhy'

In [23]:
str1[7:] * 10 #repeating a string n times
print(str1[7:], end='\n')
print(str1[7:], end='\n')

Programming
Programming

# lists

In [29]:
li=[246,345,'python',]
len(li) #Length of the list
li[2] #Accessing list elements
li[len(li)-1] = 'Programming'#Replacing an element in a list
li.append('Python') #Adding a new element to a list
li[2:]
li.pop() # removes the last element
li.remove(345) #removes the value
li.pop(0) #removes the element at the given index
li.insert(0, 123)
li.insert(1, 345)
li

[123, 345, 'Programming']

In [34]:
li2 = [[1,2,3],[4,5,6],[7,8,9]]
li2.insert(3,[10,11,12])
li2.pop(3)
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [38]:
li2 = [[1,2,3],[4,5,6],[7,8,9]]
li2.remove([7,8,9])
li2

[[1, 2, 3], [4, 5, 6]]

In [41]:
li2 = [[1,2,3],[4,5,6,10],[7,8,9]]
li2[1].pop(3)
li2.pop()

[7, 8, 9]

In [42]:
li.extend([765, 432, 999])
li.sort()
li

[123, 345, 432, 765, 999]

# Tuples

In [43]:
t1 = (123, 345, 567)
t1[2] + t1[1] #Accessing Elements in a Tuple

912

In [44]:
t1 = (123, 345, 567)
t1[2] + t1[1] #Accessing Elements in a Tuple

t1[len(t1)-1] #Last element of a Tuple

t1[1:3]

(345, 567)

In [45]:
str(t1[0])[1] + " " + str(t1[1])[1] + " " +str(t1[2])[1]
#Second character of all elements of a Tuple

'2 4 6'

In [48]:
#Reversing all characters of all elements 
#in a Tuple
t1 = (123, 345, 567)

str(t1[0])[2::-1] + " "+str(t1[1])[2::-1] +" "+ str(t1[2])[2::-1]

'321 543 765'

# Reading input from the user

In [49]:
a=input("Enter your message")

Enter your message hello world

# Dictionaries

In [50]:
d1 = {'procedural':'C', 'Scripting':'Python', 'Functional':'Haskell'}

d1

{'procedural': 'C', 'Scripting': 'Python', 'Functional': 'Haskell'}

In [51]:
d1['Scripting'] #access a element in a dictionary

'Python'

In [52]:
d1.values()

dict_values(['C', 'Python', 'Haskell'])

In [54]:
d1.keys()

dict_keys(['procedural', 'Scripting', 'Functional'])

In [57]:
d2={'Symbolic':'mathematics','logical':'prolog'}
d1.update(d2)   #appending d1 and d2 in d1
d1

{'procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskell',
 'Symbolic': 'mathematics',
 'logical': 'prolog'}

In [59]:
d1['objectoriented']='java' #to add a element in a dictionary
d1

{'procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskell',
 'Symbolic': 'mathematics',
 'logical': 'prolog',
 'objectoriented': 'java'}

In [60]:
d1['logical']

'prolog'